*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 20;
}
.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  
} 
.customDiv > span > a {
  text-decoration: none;
  float: right;
  padding: 10px;
  color: rgb(223, 209, 209);
  background-color:#2110aa;
  font-size: inherit;  
}
.customDiv > div{
  padding: 10px;
  background: rgb(197, 187, 187);
  font-size: inherit; 
}

.customDiv  a{
  text-decoration: none;
}
.bannerClass{
  text-align: justify;
}
.checkBoxes{
  display: none;
}
.selectBox{
  display: block;

}
/* For IE10 */
.selectBox::-ms-expand {
  display: none;
}
input {
  background: transparent;
}
.customDiv{
  display: flex;

}

.customOption{
  flex: 1;  
}
.checkboxes{
  display: flex;  
  flex:1;
}
.customNumber{
  flex:3;
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 22px;
    background: #9591b4;
    padding: 2px;
    margin: 5px;
  }
}