.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-weight: bolder;
  font-size: 20px;
  
} 
.customDiv > span > a {
  text-decoration: none;
  float: right;
  padding: 10px;
  color: rgb(223, 209, 209);
  background-color:#2110aa;
  font-size: inherit;  
}
.customDiv > div{
  padding: 10px;
  background: rgb(197, 187, 187);
  font-size: inherit; 
}

.customDiv  a{
  text-decoration: none;
}
.bannerClass{
  text-align: justify;
}